# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# Django-DRF
*.sqlite3
*.pyc
__pycache__/
*.pyo
*.pyd
*.db

# Google OAuth2
client_secrets.json

# Environments
.env
*.env

# Virtualenv
venv/
ENV/
env/
env.bak/
venv.bak/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db